#__popup_lookup {
	background-color: #ffffff;
	border: 5px solid #000;
	border-radius: 8px;
	box-shadow: 0 0 44px;
	padding-bottom: 24px;
	position:fixed;
	width: 80%;
	z-index: 121212;
}
#__iframe_wrapper__lookup > #__iframe_lookup {
	width: 100%;
	height: 100%;
	border: none;
}
#__popup_lookup > div > #__close_lookup{
	color: #fff;
    cursor: pointer;
    right: 0px;
    padding: 4px 8px 4px 10px;
    font-weight: bold;
	position: absolute;
    font-family: Arial;
    font-size: 14px;
    line-height: 14px;
    top: 0px;
    background: #000;
}
#__popup_lookup #__dics_lookup {
	background-color: #ffffff;
	color: #464646;
	width: auto;
	right: 30px;
	float: right;
}
#__popup_lookup #__dics_lookup > select {
	right: 28px;
    position: absolute;
	padding: 0;
    height: 22px;
    width: 184px;
}
#__popup_lookup > div > #__title_lookup {
	padding: 4px 10px;
	cursor: move;
}

#__iframe_wrapper__lookup {
	height: 100%;
    margin-top: 24px;
}

#__header_lookup {
	font-size: smaller;
	height: 22px;
    border-bottom: 1px solid lightgray;
    position: absolute;
    width: 100%;
}