/*
Please see readme.txt with this bundle.
author: Prasad Cholakkottil aka pMan
*/
a {
	text-decoration:none;
}
#wrapper {
	margin:auto;
}

div > div{
	font-family: Arial, Tahoma;
}

select {
	color: #484848;
	font-size: 12px;
}

h1 {
	width:280px;
	color: #ADADAD;
	margin:20px auto 10px;
}

h4 {
	width:100%;
	color: #444444;
	float: left;
	margin:20px auto 10px;
}

hr {
	margin-bottom: 10px;
}

#container {
	margin: auto;
	padding: 0 0 60px;
	font-family: Arial, Tahoma;
	font-size: 14px;
	color: #454545;
	line-height: 24px;
}

/* Overriding default webkit style -- begins */

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
	resize: both;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-button  {
	height: 10px;
	width: 10px;
	background-color: lightgray;
}

::-webkit-scrollbar-thumb {
	height: 10px;
    background-color: #DFDFDF;
    -webkit-border-radius: 3px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Overriding default webkit style -- ends */

#container input {
	font-family: Arial, Tahoma;
}

#container-dics {
	margin-bottom: 10px;
	//height: 320px;
	overflow: auto;
	border: 1px solid lightgray;
	padding-bottom: 10px;
}

.save, .save:hover, .save:active {
	color: #444444;
	border: 1px solid gray;
	width: 80px;
	height: 30px;
	background-color: #DEDEDE;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 4px 18px 2px;
	text-decoration: none;
	-webkit-border-radius:8px;
}

.save:active {
	border: 1px solid gray;
	-webkit-box-shadow:0px 2px 15px #FFFFFF inset, 0px 0px 3px #848484;
}

#message {
	width: 42px;
	height: auto;
	text-align: left;
	display: none;
	margin: -40px 0 0 10px;
}

.success {
	color: #249F24;
}

.error {
	color: #FF2323;
}

.lookup-tab, .lookup-tab-save {
	font-size:90%;
	color:#828282;
	padding-left: 26px;
	position: absolute:
	right: 0;
}

.lookup-tab-save {
	float:right;
	width:100%;
	padding-top:20px;
}

#dics-list li {
	list-style: none;
	margin: 10px 0 10px -20px
}
#dics-list li:hover {
	cursor: move;
}
label {
	padding: 0 0 0 6px;
}



ul.tabs {
	border-bottom: 1px solid #999;
	padding: 0 9px;
}
.tabs li {
	list-style:none;
	display:inline;
}

.tabs a {
	background: none repeat scroll 0 0 #fff;
	border-radius: 6px 6px 0 0;
	border: 1px solid #aaa;
	border-bottom: none;
	box-shadow: 0 0 8px -3px #888888;
	color: #848484;
	display: inline-block;
	padding: 7px 10px 3px;
	text-decoration: none;
}

.tabs a:hover {
	background: none repeat scroll 0 0 #fff;
	color:#484848;
}
.tabs a.active {
	background: none repeat scroll 0 0 #7F7F7F;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 0 8px -1px #444444;
	color: #f8f8f8;
	border: 1px solid #ffffff;
	border-bottom: none;
}
